body {
  background-color: white;
}

.price-description {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 975px;
}

.btn-book {
  color: white;
  padding: 8px 24px;
  background: #11AEB7;
  transition: background 0.3s ease;
}

.btn-book:hover {
  background: #1BCB7F;
  color: white;
}
