<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Atoll homepage</title>
</head>

<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1481847192789-cefc1b048972?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzMDA0fQ&auto=format&fit=crop&w=1936&q=80);">
  <div class="container">
    <h1>Find your <strong>Paradise</strong></h1>
    <h2>With no hassle atoll</h2>

    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" value="Type location" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>

</form>

  </div>
</div>

</body>

</html>
