.btn.btn-atoll {
  color: white;
  background-color: #11AEB7;
  transition: background-color 0.5s ease;
  &:hover {
    color: white;
    background-color: #13c8d3 !important;
    transition: background-color 0.5s ease;
  }
}
