.background {
  background-color: white;
  height: 100vh;
}

.container h2 {
  margin-top: 5px !important;
}

.background h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  height: 100vh;
}

.cards a {
  text-decoration: none !important;
  color: black;
}

// .cards a:hover {
//   color: #11AEB7;
//   transition: 0.3s;
// }

.card-trip {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);
  margin: 15px 15px;
  border-radius: 5px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}

.card-trip > img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing h2 {
  margin-top: 2px;
}

.card-trip-large {
  overflow: hidden;
  margin: 15px 10px
}

.card-trip-large > img {
  height: 500px;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}

.card-trip-large h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip-large p {
  font-size: 16px;
  opacity: .9;
  margin: 0;
}
