.main-container {
  display: flex;
  background-color: white;
}

.container-card-title {
  margin: 0 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  flex-grow: 1;
}

.cards a {
  text-decoration: none !important;
  color: black;
}

// .cards a:hover {
//   color: #11AEB7;
//   transition: 0.3s;
// }

.cards-title h1 {
  margin: 24px 16px;
  font-size: 30px;
}

.card-trip {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);
  margin: 15px 15px;
  border-radius: 5px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}

.card-trip > img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing h2 {
  margin-top: 2px;
}

.card-trip-large {
  overflow: hidden;
  margin: 15px 10px;
}

.card-trip-large > img {
  height: 400px;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}

.card-trip-large h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

.card-trip-large h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  opacity: .9;
}

.card-trip-large p {
  font-size: 20px;
  opacity: .9;
  margin: 0;
  font-weight: 700;
}

#description-text {
  font-size: 16px;
  font-weight: 400;
  opacity: .9;
  margin: 0;
}
