@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900i&display=swap');

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: #000;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 4px 16px;
  border-bottom: 1px solid rgba(110, 119, 127, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-left: 16px;
}

.nav-link {
  margin-left: 16px;
  color: #6E777F;
  transition: color 0.5s ease;
  &:hover {
    color: #11AEB7 !important;
    text-decoration: none;
  }
}
